<div class="uk-clearfix">
    <div class="uk-float-left">
        <h1>Repository</h1>
    </div>
    <div class="uk-float-right">
        <div class="uk-button-group">
            <%= link_to new_document_path, class: 'uk-button uk-button-primary' do %>
                <i class="uk-icon-cloud-upload"></i> Upload
            <% end %>
            <div data-uk-dropdown="{mode:'click'}">
                <a href="" class="uk-button uk-button-primary"><i class="uk-icon-caret-down"></i></a>
                <div class="uk-dropdown uk-dropdown-small">
                    <ul class="uk-nav uk-nav-dropdown">
                        <li><%= link_to new_markdown_document_path do %>
                            <i class="uk-icon-pencil-square"></i> Write now
                            <% end %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />
<div class="uk-grid" data-uk-grid-margin>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
            <h3 class="uk-panel-title">Unread documents</h3>
            <%= render partial: 'document_list', locals: { list: @unread_documents, unread: @unread_documents } %>
        </div>
    </div>
    <div class="uk-width-medium-1-2">
        <div class="uk-panel">
            <h3 class="uk-panel-title">All documents</h3>
            <%= render partial: 'document_list', locals: { list: @documents, unread: @unread_documents } %>            
        </div>
    </div>
</div>